div.warn {    
    background-color: #fcf2f2;
    border-color: #dFb5b4;
    border-top: 15px solid #dfb5b4;
    padding: 0.5em;
    }

div.task {    
    background-color: #B0E0E6;
    border-color: #B0E0E6;
    border-top: 15px solid #1E90FF;
    padding: 0.5em;
    }

div.info {    
    background-color: #F5F5DC;
    border-color: #F5F5DC;
    border-top: 15px solid #DAA520;
    padding: 0.5em;
    }

div.interlude {    
    background-color: #E6E6FA;
    border-color: #E6E6FA;
    border-top: 15px solid #4B0082;
    padding: 0.5em;
}

select.nbform {
    width: 120px;
}

kbd {

    color: black;
    background-color: white;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    border-radius: 3px;
    
}


#ipython_notebook:before{
    content: '';
    float:left;
    display:inline-block;
    background-image: url(acse_logo.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 40px;
    height:30px;
    background-size: 30px;
}

.arrow-right {
    width:5px;
    height:00;
    display:inline-block;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid black;
}


 /* main settings for the visible "expander" element */
  input.expander + p + *:before, /*handle extra p tag inserted after heading tags*/
  input.expander + *:not(p):before { /*everything else normal */
    content: "\f196 "; /*fa-plus-square-o - these codes can be found on the detail page for each fa icon*/
    font-family: FontAwesome;
    cursor: pointer;
    width: 1em;
    display: inline-block;
    /*font-size: larger;*/
    color: blue !important;
  }

  input.expander + p + * {
    display: inline-block;
  }

  input.expander + i {
    font-style: normal;
  }

  /* change the icon in the expanded state, i.e. checkbox checked = expanded */
  input.expander:checked + p + *:before,
  input.expander:checked + *:not(p):before {
    content: "\f147 "; /*fa-minus-square-o*/
  }

  /* alternative caret icon look */
  input.expander.caret + p + *:before,
  input.expander.caret + *:not(p):before {
    content: "\f0da";
  }

  input.expander.caret:checked + p + *:before,
  input.expander.caret:checked + *:not(p):before {
    content: "\f0d7";
  }

  input.expander + p + * + *,
  input.expander + *:not(p) + * {
/*    transition: all 0.5s ease-in-out; */
  }

  input.expander:not(:checked) + p + * + *,
  input.expander:not(:checked) + *:not(p) + * {
    overflow-y: hidden;
    height: 0;
    transform: scaleX(0) scaleY(0);
    opacity: 0;
    margin: 0;
  }
